In [33]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import pickle

In [34]:
# Read files

df = pd.read_parquet("out/qc/qc_summary_df.parquet")
with open("out/qc/issue_examples.pickle", "rb") as f:
    # The protocol version used is detected automatically, so we do not
    # have to specify it.
    issue_trips = pickle.load(f)

In [35]:
df.head()

,pid,avg_speed_trips,na_times_trips,same_time_trips,min_max_time_issue_trips,very_long_trips
0,3910,0,0,111,0,0

In [36]:
issue_trips

[{'pid': '3910',
  'avg_speed_trips': [],
  'na_times_trips': [],
  'same_time_trips': ['1523910.02353404888834757313912023-01-06',
   '1523910.02353404888834757316092023-01-04',
   '1523910.02387034868835622610172023-04-17',
   '1523910.02387034868835622610222023-04-26',
   '1523910.02387034868835622610332023-04-24'],
  'min_max_time_issue_trips': [],
  'very_long_trips': []}]

In [70]:
df1 = gpd.read_parquet("out/trips/test_trips_3910_full.parquet")
df1.head()

,seg_combined,typ,bus_stop_time,time_diff_seconds,stop_dist,speed_mph,unique_trip_vehicle_day,stpid,p_stp_id,geometry,data_time,time
0,0.0,S,2023-01-03 15:50:54.601824268,31.755481,231.977430,16.341103,1523910.02353403138834755113982023-01-03,1163,3910-1163,POINT (357119.88826 586818.65610),NaT,2023-01-03 15:50:54.601824268
1,6.0,S,2023-01-03 15:51:26.357305113,33.642695,245.763746,16.341103,1523910.02353403138834755113982023-01-03,4886,3910-4886,POINT (357073.35121 587027.55237),NaT,2023-01-03 15:51:26.357305113
2,7.5,B,2023-01-03 15:52:00.000000000,NaN,NaN,NaN,1523910.02353403138834755113982023-01-03,None,None,POINT (357040.13088 587114.55181),2023-01-03 15:52:00,2023-01-03 15:52:00.000000000
3,12.0,S,2023-01-03 15:53:01.372940685,29.955544,218.828687,16.341103,1523910.02353403138834755113982023-01-03,1061,3910-1061,POINT (357061.61352 587012.68478),NaT,2023-01-03 15:53:01.372940685
4,16.0,S,2023-01-03 15:53:36.121257870,34.740947,253.786604,16.341103,1523910.02353403138834755113982023-01-03,1062,3910-1062,POINT (357111.10486 586807.58883),NaT,2023-01-03 15:53:36.121257870

In [71]:
df1[(df1['unique_trip_vehicle_day'] == '1523910.02353404888834757313912023-01-06')].drop(columns = ['time_diff_seconds','stop_dist']).head(50)

,seg_combined,typ,bus_stop_time,speed_mph,unique_trip_vehicle_day,stpid,p_stp_id,geometry,data_time,time
1246,0.0,S,2023-01-06 17:30:36.180923567,6.256456,1523910.02353404888834757313912023-01-06,1163,3910-1163,POINT (357119.88826 586818.65610),NaT,2023-01-06 17:30:36.180923567
1247,0.5,B,2023-01-06 17:32:00.000000000,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (357121.61505 586814.78362),2023-01-06 17:32:00,2023-01-06 17:32:00.000000000
1248,6.0,S,2023-01-06 17:33:39.624606575,6.256456,1523910.02353404888834757313912023-01-06,4886,3910-4886,POINT (357073.35121 587027.55237),NaT,2023-01-06 17:33:39.624606575
1249,12.0,S,2023-01-06 17:34:57.881452764,6.256456,1523910.02353404888834757313912023-01-06,1061,3910-1061,POINT (357061.61352 587012.68478),NaT,2023-01-06 17:34:57.881452764
1250,16.0,S,2023-01-06 17:35:36.513156259,21.318526,1523910.02353404888834757313912023-01-06,1062,3910-1062,POINT (357111.10486 586807.58883),NaT,2023-01-06 17:35:36.513156259
1251,18.5,B,NaT,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (357172.98382 586691.47948),2023-01-06 17:37:00,2023-01-06 17:37:00.000000000
1252,20.0,S,2023-01-06 17:37:58.708599476,2.540478,1523910.02353404888834757313912023-01-06,12549,3910-12549,POINT (357167.22024 586624.65095),NaT,2023-01-06 17:37:58.708599476
1253,23.0,S,2023-01-06 17:39:28.373609814,4.391111,1523910.02353404888834757313912023-01-06,12550,3910-12550,POINT (357039.86572 586561.09097),NaT,2023-01-06 17:39:28.373609814
1254,26.0,S,2023-01-06 17:41:10.461671216,4.686588,1523910.02353404888834757313912023-01-06,12551,3910-12551,POINT (356893.04559 586494.60052),NaT,2023-01-06 17:41:10.461671216
1255,29.5,B,NaT,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (356812.21530 586480.10138),2023-01-06 17:42:00,2023-01-06 17:42:00.000000000
1256,32.0,S,2023-01-06 17:42:28.158689643,6.112854,1523910.02353404888834757313912023-01-06,12552,3910-12552,POINT (356716.41764 586484.52470),NaT,2023-01-06 17:42:28.158689643
1257,40.0,S,2023-01-06 17:43:16.549902393,8.694423,1523910.02353404888834757313912023-01-06,12553,3910-12553,POINT (356517.27972 586479.16164),NaT,2023-01-06 17:43:16.549902393
1258,47.0,S,2023-01-06 17:43:58.626410747,11.773468,1523910.02353404888834757313912023-01-06,12554,3910-12554,POINT (356345.08895 586474.12883),NaT,2023-01-06 17:43:58.626410747
1259,50.0,S,2023-01-06 17:44:49.340313182,10.169071,1523910.02353404888834757313912023-01-06,12555,3910-12555,POINT (356135.25778 586468.24741),NaT,2023-01-06 17:44:49.340313182
1260,57.0,S,2023-01-06 17:45:40.494563725,23.899409,1523910.02353404888834757313912023-01-06,12556,3910-12556,POINT (355913.77866 586456.72667),NaT,2023-01-06 17:45:40.494563725
1261,59.5,B,NaT,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (355901.58861 586451.32797),2023-01-06 17:47:00,2023-01-06 17:47:00.000000000
1262,61.0,S,2023-01-06 17:48:08.129629496,3.045475,1523910.02353404888834757313912023-01-06,12557,3910-12557,POINT (355712.19248 586456.80971),NaT,2023-01-06 17:48:08.129629496
1263,66.0,S,2023-01-06 17:49:04.969524648,8.012420,1523910.02353404888834757313912023-01-06,12558,3910-12558,POINT (355511.82017 586450.13224),NaT,2023-01-06 17:49:04.969524648
1264,73.0,S,2023-01-06 17:49:47.879031040,10.517024,1523910.02353404888834757313912023-01-06,12559,3910-12559,POINT (355308.98252 586440.55324),NaT,2023-01-06 17:49:47.879031040
1265,82.0,S,2023-01-06 17:50:26.745092181,12.472647,1523910.02353404888834757313912023-01-06,12560,3910-12560,POINT (355113.91116 586434.59472),NaT,2023-01-06 17:50:26.745092181
1266,89.0,S,2023-01-06 17:51:21.974670190,13.049111,1523910.02353404888834757313912023-01-06,12561,3910-12561,POINT (354907.06520 586428.55058),NaT,2023-01-06 17:51:21.974670190
1267,93.5,B,NaT,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (354759.95519 586422.04328),2023-01-06 17:52:00,2023-01-06 17:52:00.000000000
1268,103.0,S,2023-01-06 17:53:00.299359953,2.323446,1523910.02353404888834757313912023-01-06,12563,3910-12563,POINT (354603.93665 586423.66038),NaT,2023-01-06 17:53:00.299359953
1269,108.0,S,2023-01-06 17:53:32.428990472,14.565983,1523910.02353404888834757313912023-01-06,12564,3910-12564,POINT (354509.13295 586415.82370),NaT,2023-01-06 17:53:32.428990472
1270,114.0,S,2023-01-06 17:54:41.856009982,6.532072,1523910.02353404888834757313912023-01-06,12565,3910-12565,POINT (354304.94641 586408.92889),NaT,2023-01-06 17:54:41.856009982
1271,118.0,S,2023-01-06 17:55:53.022979723,7.004544,1523910.02353404888834757313912023-01-06,12566,3910-12566,POINT (354103.32328 586402.94808),NaT,2023-01-06 17:55:53.022979723
1272,121.5,B,NaT,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (353893.37716 586403.13108),2023-01-06 17:57:00,2023-01-06 17:57:00.000000000
1273,122.0,S,2023-01-06 17:57:03.010973617,8.066823,1523910.02353404888834757313912023-01-06,12567,3910-12567,POINT (353905.54904 586403.33355),NaT,2023-01-06 17:57:03.010973617
1274,127.0,S,2023-01-06 17:57:49.812525905,7.374159,1523910.02353404888834757313912023-01-06,18652,3910-18652,POINT (353662.20096 586399.27043),NaT,2023-01-06 17:57:49.812525905
1275,133.0,S,2023-01-06 17:58:18.504299345,21.749307,1523910.02353404888834757313912023-01-06,12569,3910-12569,POINT (353519.43255 586395.97235),NaT,2023-01-06 17:58:18.504299345
1276,140.0,S,2023-01-06 17:59:10.154370460,13.530904,1523910.02353404888834757313912023-01-06,12571,3910-12571,POINT (353254.27922 586391.42581),NaT,2023-01-06 17:59:10.154370460
1277,145.0,S,2023-01-06 18:00:16.025497624,8.865316,1523910.02353404888834757313912023-01-06,12573,3910-12573,POINT (352950.15662 586386.26550),NaT,2023-01-06 18:00:16.025497624
1278,150.0,S,2023-01-06 18:00:58.145565559,10.656929,1523910.02353404888834757313912023-01-06,12574,3910-12574,POINT (352689.22517 586382.66011),NaT,2023-01-06 18:00:58.145565559
1279,157.0,S,2023-01-06 18:01:41.534903898,20.856327,1523910.02353404888834757313912023-01-06,12575,3910-12575,POINT (352488.83217 586378.40039),NaT,2023-01-06 18:01:41.534903898
1280,158.5,B,NaT,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (352536.16857 586376.01994),2023-01-06 18:02:00,2023-01-06 18:02:00.000000000
1281,162.0,S,2023-01-06 18:03:24.945014178,4.513542,1523910.02353404888834757313912023-01-06,12576,3910-12576,POINT (352284.61662 586375.22896),NaT,2023-01-06 18:03:24.945014178
1282,169.0,S,2023-01-06 18:04:25.649827739,7.398454,1523910.02353404888834757313912023-01-06,12577,3910-12577,POINT (352076.33880 586371.92256),NaT,2023-01-06 18:04:25.649827739
1283,172.0,S,2023-01-06 18:05:19.348193555,6.150676,1523910.02353404888834757313912023-01-06,12578,3910-12578,POINT (351875.99510 586372.23461),NaT,2023-01-06 18:05:19.348193555
1284,176.0,S,2023-01-06 18:06:09.535824370,22.124839,1523910.02353404888834757313912023-01-06,12579,3910-12579,POINT (351728.40695 586370.27026),NaT,2023-01-06 18:06:09.535824370
1285,178.5,B,NaT,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (351717.49764 586368.06327),2023-01-06 18:07:00,2023-01-06 18:07:00.000000000
1286,183.0,S,2023-01-06 18:08:17.433268239,2.978619,1523910.02353404888834757313912023-01-06,16173,3910-16173,POINT (351437.23637 586362.82532),NaT,2023-01-06 18:08:17.433268239
1287,186.0,S,2023-01-06 18:08:51.167315946,18.880449,1523910.02353404888834757313912023-01-06,12581,3910-12581,POINT (351267.11348 586358.04167),NaT,2023-01-06 18:08:51.167315946
1288,192.0,S,2023-01-06 18:10:05.367319769,5.016041,1523910.02353404888834757313912023-01-06,12582,3910-12582,POINT (350982.63870 586353.44057),NaT,2023-01-06 18:10:05.367319769
1289,196.0,S,2023-01-06 18:10:41.618003024,9.699695,1523910.02353404888834757313912023-01-06,12583,3910-12583,POINT (350816.50904 586346.80807),NaT,2023-01-06 18:10:41.618003024
1290,199.0,S,2023-01-06 18:11:15.990758385,18.931485,1523910.02353404888834757313912023-01-06,12584,3910-12584,POINT (350659.73469 586342.24551),NaT,2023-01-06 18:11:15.990758385
1291,201.5,B,NaT,NaN,1523910.02353404888834757313912023-01-06,None,None,POINT (350506.51739 586338.42553),2023-01-06 18:12:00,2023-01-06 18:12:00.000000000
1292,202.0,S,2023-01-06 18:12:26.406510161,6.291940,1523910.02353404888834757313912023-01-06,12585,3910-12585,POINT (350458.09571 586338.14527),NaT,2023-01-06 18:12:26.406510161
1293,207.0,S,2023-01-06 18:13:20.239607096,7.415096,1523910.02353404888834757313912023-01-06,12586,3910-12586,POINT (350260.33492 586336.74399),NaT,2023-01-06 18:13:20.239607096
1294,211.0,S,2023-01-06 18:14:09.797231327,10.062367,1523910.02353404888834757313912023-01-06,12587,3910-12587,POINT (350082.50590 586331.04562),NaT,2023-01-06 18:14:09.797231327
1295,215.0,S,2023-01-06 18:16:33.922270638,7.141831,1523910.02353404888834757313912023-01-06,12589,3910-12589,POINT (349861.13735 586326.04580),NaT,2023-01-06 18:16:33.922270638

In [54]:
df = pd.read_parquet("out/pids/3910.parquet")

In [63]:
df[df['unique_trip_vehicle_day'] == '1523910.02353404888834757313912023-01-06'].sort_values('data_time')

,vid,tmstmp,lat,lon,hdg,pid,rt,des,pdist,dly,tatripid,origtatripno,tablockid,zone,scrape_file,data_time,data_hour,data_date,unique_trip_vehicle_day
244,1391,20230106 17:32,41.950325,-87.644402,334,3910.0,152,Harlem,1,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/17:32:56.json,2023-01-06 17:32:00,17,2023-01-06,1523910.02353404888834757313912023-01-06
245,1391,20230106 17:37,41.949211,-87.643794,157,3910.0,152,Harlem,2720,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/17:37:56.json,2023-01-06 17:37:00,17,2023-01-06,1523910.02353404888834757313912023-01-06
246,1391,20230106 17:42,41.947334,-87.648165,275,3910.0,152,Harlem,4483,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/17:42:56.json,2023-01-06 17:42:00,17,2023-01-06,1523910.02353404888834757313912023-01-06
247,1391,20230106 17:47,41.947140,-87.659150,262,3910.0,152,Harlem,7635,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/17:47:56.json,2023-01-06 17:47:00,17,2023-01-06,1523910.02353404888834757313912023-01-06
248,1391,20230106 17:52,41.946957,-87.672920,269,3910.0,152,Harlem,11397,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/17:52:56.json,2023-01-06 17:52:00,17,2023-01-06,1523910.02353404888834757313912023-01-06
249,1391,20230106 17:57,41.946846,-87.683372,268,3910.0,152,Harlem,14259,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/17:57:56.json,2023-01-06 17:57:00,17,2023-01-06,1523910.02353404888834757313912023-01-06
250,1391,20230106 18:02,41.946693,-87.699741,269,3910.0,152,Harlem,18703,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:02:56.json,2023-01-06 18:02:00,18,2023-01-06,1523910.02353404888834757313912023-01-06
251,1391,20230106 18:07,41.946676,-87.709615,265,3910.0,152,Harlem,21399,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:07:56.json,2023-01-06 18:07:00,18,2023-01-06,1523910.02353404888834757313912023-01-06
252,1391,20230106 18:12,41.946487,-87.724221,269,3910.0,152,Harlem,25378,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:12:56.json,2023-01-06 18:12:00,18,2023-01-06,1523910.02353404888834757313912023-01-06
253,1391,20230106 18:17,41.946388,-87.734160,269,3910.0,152,Harlem,28086,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:17:56.json,2023-01-06 18:17:00,18,2023-01-06,1523910.02353404888834757313912023-01-06
254,1391,20230106 18:22,41.946281,-87.739325,271,3910.0,152,Harlem,29486,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:22:56.json,2023-01-06 18:22:00,18,2023-01-06,1523910.02353404888834757313912023-01-06
255,1391,20230106 18:27,41.946034,-87.759398,268,3910.0,152,Harlem,34977,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:27:56.json,2023-01-06 18:27:00,18,2023-01-06,1523910.02353404888834757313912023-01-06
256,1391,20230106 18:32,41.945876,-87.774010,270,3910.0,152,Harlem,38968,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:32:56.json,2023-01-06 18:32:00,18,2023-01-06,1523910.02353404888834757313912023-01-06
257,1391,20230106 18:37,41.945637,-87.789676,269,3910.0,152,Harlem,43243,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:38:02.json,2023-01-06 18:37:00,18,2023-01-06,1523910.02353404888834757313912023-01-06
258,1391,20230106 18:42,41.945380,-87.803311,267,3910.0,152,Harlem,46969,False,88347573,235340488,152 -416,None,bus_data/2023-01-06/18:42:56.json,2023-01-06 18:42:00,18,2023-01-06,1523910.02353404888834757313912023-01-06